{
"entrySceneID":  0,

"scene": [
{
"id": 0,
"configFile": "res\\shaders\\mini-project\\touhouMusic-Flandre\\config.json"
},
{
"id": 1,
"configFile": "res\\shaders\\mini-project\\touhouMusic-Remilia\\config.json"
},
{
"id": 2,
"configFile": "res\\shaders\\mini-project\\touhouMusic-Alice\\config.json"
},
{
"id": 3,
"configFile": "res\\shaders\\custom\\Woman\\config.json"
},
{
"id": 4,
"configFile": "res\\shaders\\custom\\BabyToy\\config.json"
},
{
"id": 5,
"configFile": "res\\shaders\\custom\\Fireworks\\config.json"
},
{
"id": 6,
"configFile": "res\\shaders\\custom\\Raymarching-Primitives\\config.json"
},
{
"id": 7,
"configFile": "res\\shaders\\custom\\Paint\\config.json"
},
{
"id": 8,
"configFile": "res\\shaders\\mini-project\\cloud\\config.json"
},
{
"id": 9,
"configFile": "res\\shaders\\custom\\MusicPirates\\config.json"
}
]
}